<h1>You must be real generous.</h1>
<p>You clicked the "Donate" button. If anyone's keeping track, that just earned you 20 points of good karma. But you know what it takes to triple, quadruple, and dare I say, quintuple your points?
<p><strong>How about a hearty, oh-my-gosh-you're-nice donation of great vinyl.</strong></p>
<p>Unfound Sounds accepts all kinds of music to hide in the nooks and crannies of Omaha, Lincoln and Greater Nebraska. If you're a band that wants your record to be someone's treasure, if you're a collector with a surplus — or for any reason really — please fill out this form:
<form method="MAILTO:hello@michaelsedits" method="post" enctype="text/plain" id="donate">
Name:
<input type="text" name="name" size="40"><br>
E-mail:
<input type="text" name="mail" size="40"><br>
Which album(s) would you donate?<br>
<textarea name="albums" form="donate" rows="3" cols="70"></textarea><br>
If you have an idea of where to hide your album(s), tell us:<br>
<textarea name="place" form="donate" rows="6" cols="70"></textarea><br>
Tell us why you're donating this/these album(s):<br>
<textarea name="why" form="donate" rows="6" cols="70"></textarea><br>
<input type="submit" value="Send">
</form>