<% @albums.each do |album| %>
	<div id="home_album"><a href="/album/<%= album.url %>"><div class="banner"><%= album.place_title %></div>
	<img class="homepage" src="<%= album.album_cover %>"></a></div>
<% end %>
<a href="/"><div id="found_banner">SEE UNFOUND SOUNDS</div></a>