<head>
<script type="text/javascript" src="//use.typekit.net/aqv1ptn.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>	
<link rel="stylesheet" href="/style.css" type="text/css">
</head>
<div id="content">
<header>
	<div id="main_nav"><h1 id="blog_title"><a href="/">Unfound Sounds</a></h1>
	<a href="/donate"><em><div id="nav">donate</a> &amp; <a href="/discover">discover</div></em></a></p></div>
</header>
<body>
<%= yield %>
</body>
<footer>
<a href="http://omahacodeschool.com" target="_blank"><img class="ocs" src="https://s3.amazonaws.com/UnfoundSounds/OCSlogo" width="40"></a><div id="credit">made by <a href="http://twitter.com/michaelsedits" target="_blank">Michael Todd</a> for <a href="http://omahacodeschool.com" target="_blank">Omaha Code School &copy; 2014</a></div>
</div>
</footer>