<header>
	<h1><a href="/">Unfound Sounds</a></h1>
	<p><a href="/donate">donate</a> &amp; <a href="/discover">discover</a></p>
</header>
<%= yield %>
<footer>
<p>created by <a href="http://twitter.com/michaelsedits" target="_blank">Michael Todd</a> for <a href="http://omahacodeschool.com" target="_blank">Omaha Code School</a></p>
</footer>